<h1>Productos</h1>
<button (click)="verCarrito()">Ver Carrito</button>
<mat-divider></mat-divider>


<div class="tarjetas">

  <mat-card *ngFor="let items of heroe" class="mb-3">
    <mat-card-header>
      <mat-card-title>{{items.superhero}}</mat-card-title>
   
    </mat-card-header>


    <img mat-card-image [src]="items | rutasHeroes">

    <mat-card-content>
      
      <p><strong>Precio: </strong> {{items.first_appearance}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="danger"   (click)="agregarCarro(items)">Agregar</button>

    </mat-card-actions>
  </mat-card>

</div>
